@import 'sass-bootstrap/lib/bootstrap';

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-y:scroll;
  >.container {
    padding-top: 80px;
    text-align: center;
  }
}

