@import 'palette.scss';
@import 'compass';

.navbar {
  background-color: $white;
  color: $warmSilver;
  min-height: 60px;
  border-radius: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  top: 0px;
  border-top: 1px solid $smartLight;
  img {
    height: 32px;
  }
}

.nav {
  &.navbar-nav {
    &.navbar-right {
      margin-top: 5px;
    }
  } 
}

nav {
  .navbar-toggle {
    margin-top: 15px;
  }
}

.navbar-default {

  .hide-sorting {
    .dropdown {
      display: none
    }
  }

  .navbar-nav {
    >li {
      >a {
        font-size: 16px;
        &:hover {
          color: $warmSilver;
          @include opacity(1);
        }
        color: $warmSilver;
        @include opacity(0.6);
        @include transition(opacity, .3s, ease);
      }
    }
  }

  .navbar-brand {
    font-size: 26px;
    color: $warmerSilver;
    background-color: transparent;
  }
}