@import 'palette.scss';

.navbar {
  background-color: $white;
  color: #333;
  min-height: 60px;
  border-radius: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  top: 15px;
  border-top: 1px solid #e7e7e7;
  img {
    height: 30px;
  }
}

.nav {
  &.navbar-nav {
    &.navbar-right {
      margin-top: 5px;
    }
  }
}

.navbar-default {
  .navbar-nav {
    >li {
      >a {
        &:hover {
          color: #333;
          opacity: 1;
        }
        color: #333;
        opacity: 0.5;
        transition: opacity .3s ease;
      }
    }
  }

  .navbar-brand {
    font-size: 26px;
    color: #444;
    background-color: transparent;
  }
}