@import 'palette.scss';
@import 'compass';

.container {
  .user-view {

    a {
      color: $black;
      &:hover {
        color: $warmSilver;
      }
    }

    .avatar {
      img {
        height: 300px;
        @include box-shadow(2px 1px 1px rgba(0, 0, 0, 0.7));
      }
    }

    .user-login-data {
      font-size: 24px;
      padding: 20px;
    }
    
    .repositories-info {
      h2 {
        font-size: 16px;
      }
      ul {
        padding-left: 0px;
        li {
          list-style-type: none;
        }
      }
    }
  }
}