<a href="#">
  <div class="avatar">
    <img src="{{author.avatar_url}}}" class="img-circle" />
  </div>
  <div class="user-login-data">{{id}}</div>
  <div class="user-score-data">
    <span class="score-data-label">Contributions:</span>
    <span class="score-data-value">{{total}}</span>
  </div>
</a>